*{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, bold ;
    margin: 0px;
    padding: 0px;
}


body{
    background-image:url(background2.png)   ;
}

h1{
    color: #f00;
    height: 30px;
    margin-left: 48%;
    margin-top: 10%;
}

table{
	background-color: rgb(153, 0, 0);
    margin-left: 50%;
}
	
th, td {
	border : 2px solid  rgb(182, 47, 47);
	padding : 5px;
}

tr{
    background-color:#000;
}

th{
    background-color: #656565;
}
th.droit{
    background-color:#000;
}
td.rien{
    background-color: rgb(182, 47, 47);
}
p{
    margin-left: 47%;
}
img{
    width: 200px;
    margin-left: 47% ;
}

 /* menu navigation */
nav ul{
    list-style-type:none;
}
nav li{
    float: left;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav li{
    float: left;
    width: 25%;
    text-align: center;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: rgb(255, 0, 0);
    border-bottom: 2px solid gold;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}
nav

/*https://www.pierre-giraud.com/html-css-apprendre-coder-cours/creation-menu-horizontal-sticky/ */